{% extends 'filterpages/base.html' %}
{% load humanize filterpages_extras %}

{% block content %}
    <!-- {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <h1><a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}{% url 'detail' pk=post.pk %}</p>
        </div>
    {% endfor %} -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for carmodel in carmodels %}
                        {% if carmodel.display %}
                            <div class="col-sm-6 col-md-4">
                            <a href="{% url 'overview' year=carmodel.year make=carmodel.make|slugify model=carmodel.model|slugify body=carmodel.body|slugify version=carmodel.version|slugify %}">
                                <div class="thumbnail">
                                  <img class="thumbnail-pic" src="{{ carmodel.image_url|carpic:276 }}">
                                  <div class="caption">
                                    <p class="thumbnail-yearmake">{{ carmodel.year }} {{ carmodel.make }}</p>
                                    <p class="thumbnail-model">{{ carmodel.model }} {{ carmodel.version }}</p>
                                    <p>{{ carmodel.range }} miles range</p>
                                    <p>
                                      <span class="thumbnail-msrp">Starting at</span> ${{ carmodel.lowest_price|intcomma }}
                                      <span class="thumbnail-msrp">MSRP</span>
                                    </p>
                                  </div>
                                </div>
                              </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
