{% extends 'filterpages/base.html' %}
{% load humanize filterpages_extras staticfiles %}

{% block customjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
<script type="text/javascript" src="{% static 'filterpages/js/dist/bundle.js' %}" async></script>
{% endblock %}


{% block content %}
    <div id="content">test</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="filterPanel">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="accordion-btn">
                                    Range<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="accordion-btn">
                                    Body Type<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="checkbox ">
                                  <label>
                                    <input type="checkbox" name="bodyType" data-id="1000" class="toggle" value="hatchback">
                                    Hatchback
                                  </label>
                                </div>
                                <div class="checkbox ">
                                  <label>
                                    <input type="checkbox" name="bodyType" data-id="1001" class="toggle" value="sedan">
                                    Sedan
                                  </label>
                                </div>
                                <div class="checkbox ">
                                  <label>
                                    <input type="checkbox" name="bodyType" data-id="1002" class="toggle" value="suv">
                                    SUV
                                  </label>
                                </div>
                                <div class="checkbox ">
                                  <label>
                                    <input type="checkbox" name="bodyType" data-id="1003" class="toggle" value="wagon">
                                    Wagon
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="accordion-btn">
                                    Drivetrain<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="checkbox ">
                                  <label>
                                    <input type="checkbox" name="driveTrain" data-id="1008" class="toggle" value="front wheel drive">
                                    Front-Wheel Drive
                                  </label>
                                </div>
                                <div class="checkbox ">
                                  <label>
                                    <input type="checkbox" name="driveTrain" data-id="1009" class="toggle" value="rear wheel drive">
                                    Rear-Wheel Drive
                                  </label>
                                </div>
                                <div class="checkbox ">
                                  <label>
                                    <input type="checkbox" name="driveTrain" data-id="1007" class="toggle" value="all wheel drive">
                                    All-Wheel Drive
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for carmodel in carmodels %}
                        {% if carmodel.display %}
                            <div class="col-sm-6 col-md-4">
                            <a href="{% url 'overview' year=carmodel.year make=carmodel.make|slugify model=carmodel.model|slugify body=carmodel.body|slugify version=carmodel.version|slugify %}">
                                <div class="thumbnail">
                                  <img class="thumbnail-pic" src="{{ carmodel.image_url|carpic:276 }}">
                                  <div class="caption">
                                    <p class="thumbnail-yearmake">{{ carmodel.year }} {{ carmodel.make }}</p>
                                    <p class="thumbnail-model">{{ carmodel.model }} {{ carmodel.version }}</p>
                                    <p>{{ carmodel.range }} miles range</p>
                                    <p>
                                      <span class="thumbnail-msrp">Starting at</span> ${{ carmodel.lowest_price|intcomma }}
                                      <span class="thumbnail-msrp">MSRP</span>
                                    </p>
                                  </div>
                                </div>
                              </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
