{% extends 'filterpages/base.html' %}
{% load humanize filterpages_extras %}

{% block content %}
<br>
<div class="container">
      <h1 id="title-placeholder">{{ carmodel.year }} {{ carmodel.make }} {{ carmodel.model }} {{ carmodel.version }}</h1>
      <div class="row">
        <div class="col-xs-6" id="gallery-placeholder"><div id="overviewCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active"><img src="{{ carmodel.image_url|carpic:600 }}"></div>
  </div>

  <!-- Left and right controls -->
</div></div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12" id="specs-placeholder"><strong>MSPR (starting)</strong>
<h3 class="overview-h3">{{ carmodel.lowest_price|intcomma }}</h3>
  <br>
  <strong>Top Range</strong>
  <h3 class="overview-h3"><span>{{ carmodel.range }}</span> miles</h3>
<hr>
<h3>Highlights</h3>

<dl class="dl-horizontal feature-list">
  <dt>Body Style</dt><dd>{{ carmodel.body }}</dd>
  <dt>Battery</dt><dd>{{ carmodel.battery }} kWh</dd>
  <dt>Motor</dt><dd>{{ carmodel.motor }} kW electric motor</dd>
  <dt>Power</dt><dd>{{ carmodel.power }} hp</dd>
  <dt>Torque</dt><dd>{{ carmodel.torque }} lb-ft</dd>
  <dt>Total Seating</dt><dd>{{ carmodel.seats }}</dd>
  <dt>Drive Train</dt><dd>{{ carmodel.drive }}</dd>
  <dt>Acceleration, 0-60 mph</dt><dd>7.9 sec</dd>
  <dt>Fuel Economy</dt><dd>{{ carmodel.city_mpg }}/{{ carmodel.hwy_mpg }} mpg</dd>
</dl>  </div>
          </div>
        </div>
      </div>


    </div>
{% endblock %}
